*{margin: 0px;}

header{
    background-color: gold;
    text-align: center;
    padding: 40px;
    width: 100%;
    height: 200px;
    background: url('grad.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.naslov{
    color:rgb(0, 247, 21)    ;
}

main{
    background-color: rgb(0, 0, 0);
    text-align: center;

}

footer{
    background-color: rgb(255, 251, 0);
    text-align: center;
    padding: 30px;
}

.Klasa{
    color: orange;
}
